{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "bootstrap-5.2.3-dist/css/bootstrap.min.css" %}" type="text/css"/>
    <link rel="stylesheet" href="{% static "bootstrap-5.2.3-dist/css/product.css" %}"/>
    <link rel="stylesheet" href="{% static 'bootstrap-5.2.3-dist/css/base.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'bootstrap-5.2.3-dist/css/style.css' %}" type="text/css"/>
    {% block style %}
    {% endblock %}
</head>
<body>
    {% include "./header.html" %}
    {% block content %}
    {% endblock %}

    <script>
        {% block script %}
        {% endblock %}
    </script>
    <script src="{% static "bootstrap-5.2.3-dist/js/bootstrap.min.js" %}"></script>
</body>
</html>